.card {
    padding: 20px;
    margin: 20px;
    margin-top: 0px;
    padding-top: 0;
    width: max-content;
    color: black;
    min-width: 10vw;
}

.card h3 {
    font-size: 36px;
    margin-bottom: 0px;
}

.card p {
    font-size: 24px;
    margin-top: 0px;
}

@media screen and (max-width:668px) {
    .card {
        padding: 5px;
        margin: 0px;
        width: 80vw;
    }
}